<h1>Welcome</h1>
<p>Welcome to StoryBooks</p>
<p>Post and share your stories to be read by the world.</p>
{{#unless user}}
    <a class="red darken-1 btn" href="/auth/google"><i class="fab fa-google left"></i> Login With Google</a>
{{/unless}}